<h2>アカウント情報</h2>


<table class="table">
  <tbody>
    <tr>
      <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100", class: "rounded-circle" %>
    </tr>
    <tr>
      <td>ニックネーム：<%= user.nickname %></td>
    </tr>

    <tr>
      <td>フォロー：</td>
    </tr>

    <tr>
      <td>フォロワー：</td>
    </tr>

    <% if user.id == current_user.id %>
    <tr>
    <td><%= link_to " ", edit_user_path(user), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %></td>
    </tr>
    <% end %>
  </tbody>
</table>