<div class="container px-5 px-sm-0">
   <div class="row">
    <div class="col-md-3">
        <%= render 'users/left', user: @user, post: @post %>
        </div>

        <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class='table table-hover '>
          <thead>
            <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>