<div class="container mt-5">
  <div class="slider">
    <div class="b"><img class="c" src="assets/image1.jpg"></div>
    <div class="b"><img class="c" src="assets/image2.jpg"></div>
    <div class="b"><img class="c" src="assets/image3.jpg"></div>
 </div>
  <h2>新着投稿</h2>
  <div class="row">
    <div class="col-md-8">
      <div class="d-flex">
        <% @posts.each do |post| %>
              <table class="table table-hover table-inverse ">
                <tbody>
                    <tr>
                      <td>
                        <%= link_to post_path(post.id) do %>
                        <%= attachment_image_tag post, :image, size: "150x150" %>
                        <% end %>
                        <%= link_to post.title, post_path(post.id) %><br>
                      </td>
                    </tr>
                </tbody>
              </table>
            <% end %>
      </div>
    </div>
  </div>
</div>