<div class="container mt-5">
  <div class="row">
    
  </div>
  <h2>新着投稿</h2>
  <div class="row">
    <div class="col-md-8">
      <div class="d-flex">
        
      </div>
    </div>
  </div>
</div>