<div class="container">
  <div class="row mt-5"></div>
  <div class="row mt-5">
    <h3 class="mx-auto">
      <strong>お問い合わせ</strong>
    </h3>
  </div>
  <div class="row mt-4 ">
    <h5 class="mx-auto font-weight-normal text-center">
      お問い合わせいただきありがとうございました。
    </h5>
  </div>
